.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    min-width: 80%;
    padding-left: 50px;
}
.svg {
    z-index: 4;
    height: 70px;
    width: 70px;
    user-select: none;
    scale: 1;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.3));
    transition: all 0.2s ease;
}
.svg:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    scale: 1.2;
}
.displayNone {
    display: none;
}

@media screen and (max-width: 700px) {
.svg {
    height: 40px;
    width: 40px;
}
}