* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  height: 100dvh;
  width: 100dvw;
}

#main-scene {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: black;
}
#title-main {
  position: absolute;
  z-index: 2;
  color: white;
  top: 20px;
  left: 20px;
  user-select: none;
  transform: translateY(-100px);
  opacity: 0;
  animation: fade-in 0.7s ease-out 5s forwards; 
}
@keyframes fade-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#credits {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 0.8rem;
  bottom: 20px;
  left: 20px;
  user-select: none;
}
