* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  width: 100dvw;
}

#main-scene {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: black;
}
#title-test {
  position: absolute;
  z-index: 2;
  color: white;
  margin: 20px;
  user-select: none;
}
